* {
  box-sizing: border-box;
}

.col-block {
  position: relative;
  height: 55px;
  max-width: 100px;
}
.col-inner {
  /* position: absolute;
  width: 100%;
  top: -5px;
  left: -240px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.col-header {
  font-size: 13px;

  font-weight: 500;
  letter-spacing: 0.2;
  padding-left: -100px;
}
.col-type {
  position: absolute;

  color: #6a85f1;
  font-size: 13px;
}
